<template>
    <lightning-card title="Platform Event Demo" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
           
            <p><b>{receivedMessage}</b> </p><br>
            Updated Account : <div class="slds-box">{accountName}</div>
        </div>
    </lightning-card>
</template>